@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode variables */
  --background-light: #ffffff;
  --foreground-light: #000000;

  /* Dark mode variables */
  --background-dark: #1a202c;
  --foreground-dark: #e2e8f0;
}

/* Dark mode specific styles */
.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}
